<div class="row">
    <div class="seven columns">
      <br />
      <a href="/" class="th"><img src="http://placehold.it/300x75"></a>
    </div>
      <% if(user){%>

    <div class="five columns">
      <br /><br /><br />
        <dl class="sub-nav" id="userMainMenu">
          <dd><a href="/">Home</a></dd>
          <dd class="active"><a href="/about">About Us</a></dd>
          <dd><a href="/forum">Forum</a></dd>
          <dd><a href="/logout">Log Out</a></dd>
        </dl>

    </div>

           <% } else { %>
               <div class="three columns">
      <br /><br /><br />
        <dl class="sub-nav">
          <dd><a href="/">Home</a></dd>
          <dd class="active"><a href="/about">About Us</a></dd>
          <dd><a href="/forum">Forum</a></dd>
        </dl>
    </div>

            <% } %>


  </div>
  <div class="row">
    <h3>Sorry! this page doesn't exist</h3>
  </div>