<div id="homebody" class="background"></div>
<div id="header">
<div class="row">
      <a href="/"><div id="logo"></div></a>
    
        <div class="sub-nav" id="mainMenu">
          <div class="menuButton"><a href="/"><i class="icon-home navIcon"></i><br /> Home</a></div>
          <div class="active menuButton"><a href="/about"><i class="icon-info-sign navIcon"></i><br />About Us</a></div>
          <% if(user) {%>
          <div class="menuButton"><a href="/settings"><i class="icon-cog navIcon"></i><br />Settings</a></div>
          <div class="menuButton"><a href="/logout"><i class="icon-signout navIcon"></i><br />LogOut</a></div>
           <%}%>
        </div>

  </div>  
</div>
  <br />
<br /><br /><br />

<div class="row">
  
  <div class="twelve columns solidWhite">
    <br />
    <h3 style="text-align:center">WELCOME TO CLEFNET</h3>
    <br />
    <div class="row">
      <div class="ten columns offset-by-one">
        <img src="/images/musician.png">
      </div>
    </div>
    <div class="row">
      <div class="six columns offset-by-three">
        <br /><br />
        <hr />
        <br /><br />
      </div>
    </div>

    <div class="row">
      <div class="ten columns offset-by-one">
        <div class="row">

          <div class="four columns">
            <img src="/images/teachers_pic.png" class="center">
            <br /><br />
            <h4 class="center">TEACHERS</h4>
            <br /><br />
            <p>Manage students in a streamlined, centralized location while increasing accessibility and interaction in those important times between lessons. Increase student accountability and engagement in an easy to use interface. With tools such as awards, timeline creation, and social media, ClefNetwork makes it easier to keep students motivated and progressing.</p>
          </div>

          <div class="four columns">
            <img src="/images/students_pic.png" class="center">
            <br /><br />
            <h4 class="center">STUDENTS</h4>
            <br /><br />
            <p>Build your portfolio and map your progress with each practice session logged. Feature videos for other musicians to see, or follow other musicians from all over the world to gain insight into their development, progression, and practice routine. ClefNetwork gives you the ability to share, but is also a private practice space where you have complete control of what is and what isn't shared.</p>
          </div>

          <div class="four columns">
            <img src="/images/professionals_pic.png" class="center">
            <br /><br />
            <h4 class="center">PROFESSIONALS</h4>
            <br /><br />
            <p>Set aside time to practice those techniques that need refining. Develop your chops or revisit some pieces from the past, ClefNetwork keeps you honest with yourself. Revisit your recordings in the timeline feature and share with others in one simple interface. Using a teacher account, musical directors can reference video, audio, print, or pictures to communicate their ideas to the group in one central place.</p>
          </div>
        </div>
        <br />
        <br />

      </div>
    </div>

    <div class="row">
      <div class="six columns offset-by-three">
        <br /><br />
        <hr />
        <br /><br />
      </div>
    </div>
      <div class="row">
    <div class="ten columns offset-by-one">
      <br />
      <h3 style="text-align:center">TIMELINES</h3>
      <br /><br />
      <iframe src='http://embed.verite.co/timeline/?source=0Atf65OU2nZhzdGJIYk95aEtuS2l6YXZjRTVOU1lWTlE&font=Bevan-PotanoSans&maptype=toner&lang=en&height=650' width='100%' height='650' frameborder='0'></iframe>
      <br /><br />
      <h4 class="thinText">Teachers can build timelines and map lessons where theory, technique, and history can be displayed in a linear way. Students will also see their progressed visualized in the same format. Post, feature, display, share and learn. </h4>

  <br /><br /><br />
      <h3 style="text-align:center">CHART YOUR PROGRESS</h3>
      <br /><br />
      <img src="/images/chart_progress.png" class="center">
      <br /><br />
      <h4 class="thinText">Students can map their own practice by logging practice sessions and ClefNetwork will automatically provide charts, statistics, and temporal comparisons so students can stay on top of their goals. Teachers are given full transparency into the data visualization in a way that can help them understand their students level of engagement and progress. By mapping out student's practice data, they are held accountable by themselves, while also able to see how other students from around the world practice. </h4>
      <br /><br />
    </div>
  </div>

  </div>

</div>


