<div id="homebody" class="background"></div>
<div id="header">
<div class="row">
      <a href="/"><div id="logo"></div></a>
    
        <div class="sub-nav" id="mainMenu">
          <div class="menuButton"><a href="/"><i class="icon-home navIcon"></i><br /> Home</a></div>
          <div class="active menuButton"><a href="/about"><i class="icon-info-sign navIcon"></i><br />About Us</a></div>
          <% if(user) {%>
          <div class="menuButton"><a href="/settings"><i class="icon-cog navIcon"></i><br />Settings</a></div>
          <div class="menuButton"><a href="/logout"><i class="icon-signout navIcon"></i><br />LogOut</a></div>
           <%}%>
        </div>

  </div>  
</div>
  <br />
<br /><br /><br />

<div class="row">
  
  <div class="twelve columns solidWhite">
    <br />
    <h3 style="text-align:center">WELCOME TO CVDIGITAL</h3>
    <br />
    <div class="row">
      <div class="six columns offset-by-three">
        <br /><br />
        <hr />
        <br /><br />
      </div>
    </div>
  </div>
</div>


