<div class="row">
    <div class="seven columns">
      <br />
      <a href="/" class="th"><img src="http://placehold.it/300x75"></a>
    </div>
    <div class="three columns">
      <br /><br /><br />
        <dl class="sub-nav">
          <dd class="active"><a href="/">Home</a></dd>
          <dd><a href="/about">About Us</a></dd>
        </dl>
    </div>

  </div>  

  <br />

<!-- ************************************** LOGIN FORM  ************************************** -->

  <div class="row">
    <div id="loginForm" class="five columns centered">
        <form  method="POST" action="/login">
          <div class="row">
            <div class="twelve columns">
              <h3>You've been logged out. Would you like to log back in?</h3>
              <br />
              <input type="email" name="email" id="email" placeholder="name@email.com" class="eight">
              <input type="password" name="password" id="password" placeholder="password" class="eight">
              <input type="submit" class="button offset-by-two">
            </div>
          </div>
        </form>
    </div>
  </div>

  <br />

<!-- ************************************** REGISTRATION FORM  ************************************** -->
