<div class="row">
    <div class="six columns">
      <br />
      <a href="/" class="th"><img src="http://placehold.it/300x75"></a>
    </div>
    <div class="one columns">
    </div>
    <div class="five columns">
      <br />
        <ul class="nav-bar">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/upgrade">Upgrade</a></li>
          <li class="active"><a href="/register">Register</a></li>
        </ul>
    </div>

  </div>
  <div class="row">
  	<h1>Register</h1>

  	<div class="six columns centered">
  		<form class="custom">
                <fieldset>
                	    <legend>Sign up for a free account</legend>
<div class="row">
	<br />
                    <div class="ten columns centered">

                      <label>First Name</label>
                      <input type="text">

                      <label>Last Name</label>
                      <input type="text">


                      <label>Email</label>
                      <input type="email">

                      <label>Password</label>
                      <input type="password">

                      <label>Confirm Password</label>
                      <input type="password">

                    	<!-- Custom Selects -->
  <label for="customDropdown">Dropdown Label</label>
  <select style="display:none;" id="customDropdown">
    <option SELECTED>Student</option>
    <option>Teacher</option>
  </select>
  <div class="custom dropdown">
    <a href="#" class="current">
      Student
    </a>
    <a href="#" class="selector"></a>
    <ul>
      <li>Student</li>
      <li>Teacher</li>
    </ul>
  </div>
  <br />
  <input type="submit" class="button" value="Register">
  <br /><br /><br />
                    </div>
                  </div>

                </fieldset>
              </form>
  	</div>
  </div>