<div class="row">
    <div class="seven columns">
      <br />
      <a href="/" class="th"><img src="http://placehold.it/300x75"></a>
    </div>
    <div class="five columns">
      <br /><br /><br />
        <dl class="sub-nav" id="userMainMenu">
          <dd><a href="/">Home</a></dd>
          <dd><a href="/about">About Us</a></dd>
          <dd><a href="/logout">Log Out</a></dd> 
          
        </dl>
    </div>

  </div>  
<div class="row">
    <div class="twelve columns">
    <br />
      <h3>Sorry, the Page you're looking for, doesn't exist!</h3>
    </div>
</div>